.main-page {
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #efefef;
}

/* INICIAR PARTIDA */
.title {
    padding: 16px 0px;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.name-input {
    width: 250px;
    border-radius: 3px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(107, 107, 107);
    outline: none;
}
.difficulty-input {
    width: 250px;
    margin-top: 16px;
    border-radius: 3px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: center;
    text-align-last:center;
    box-sizing: border-box;
    border: 1px solid rgb(107, 107, 107);
    outline: none;
    background-color: white;
}
.btn-iniciar {
    width: 250px;
    margin-top: 16px;
    padding: 8px 32px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background-color: rgb(0, 48, 138);
    outline: none;
}
.btn-disabled {
    background-color: rgb(62, 70, 85) !important;
}


/* JUEGO */
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.palabra {
    font-size: larger;
    font-weight: 600;
    letter-spacing: 10px;
    padding: 32px;
}
.btn-tecla {
    border-radius: 10px;
    background-color: deepskyblue;
    text-align: center;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    font-weight: 900;
    margin: 4px;
    border: 2px solid black;
    text-decoration: none;
    outline: none;
}


/* SPINNER */
.lds-ring {
    margin: 48px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(56, 56, 56);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(56, 56, 56) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
