<div style="text-align: center;">
    <h1 id="title">Ahorcado</h1>

    <div *ngIf="!juego">
        <input class="text" [(ngModel)]="nombre"/>
        <button class="btn" id="btn" (click)="iniciarPartida()">Iniciar partida</button>
    </div>

    <div *ngIf="juego">
        <div class="palabra">{{juego.palabra}}</div>

        <div>
            <div *ngFor="let row of letras">
                <button *ngFor="let letra of row" (click)="enviarLetra(letra)">
                    {{letra}}
                </button>
            </div>
        </div>

    </div>

    <p>{{juego | json}}</p>
</div>
<p>test</p>