.main-page {
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #efefef;
}
.btn {
    margin: 8px;
    padding: 8px 32px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    outline: none;
}

/* INICIAR PARTIDA */
.title {
    padding: 16px 0px;
}
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.name-input {
    width: 250px;
    border-radius: 3px;
    margin: 8px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(107, 107, 107);
    outline: none;
}
.difficulty-input {
    width: 250px;
    margin: 8px;
    border-radius: 3px;
    padding: 8px 4px;
    font-size: 16px;
    text-align: center;
    text-align-last:center;
    box-sizing: border-box;
    border: 1px solid rgb(107, 107, 107);
    outline: none;
    background-color: white;
}
.btn-iniciar {
    width: 250px;
    background-color: rgb(0, 48, 138);
}
.btn-ranking {
    width: 250px;
    background-color: rgb(0, 133, 138);
}
.btn-disabled {
    background-color: rgb(62, 70, 85) !important;
}
.divisor {
    width: 250px;
    margin: 8px;
    border: 1px solid gray;
}

/* JUEGO */
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.palabra {
    font-size: larger;
    font-weight: 600;
    letter-spacing: 10px;
    padding: 32px;
}

.btn-tecla {
    border-radius: 10px !important;
    background-color: deepskyblue;
    height: 30px;
    width: 30px;
    font-weight: 900;
    margin: 4px !important;
    border: 2px solid black;
    padding: 0;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.btn-disabled{
    background-color: rgb(190, 193, 194) !important;
    cursor: default;
}

.btn-tecla:hover{
    background-color: rgb(248, 248, 248);
}

.arriesgadas-container {
    margin-top: 32px;
}
.arriesgadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.arriesgadas > div {
    border-radius: 10px;
    background-color: deepskyblue;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    font-weight: 900;
    margin: 4px;
    border: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
}
.facil {
    color: green;
}
.media {
    color: orange;
}
.dificil {
    color: red;
}



/* RANKING */
.ranking-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
.btn-volver {
    margin: 32px;
    padding: 8px 32px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background-color: rgb(0, 133, 138);
    outline: none;
}
















/* SPINNER */
.lds-ring {
    margin: 48px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(56, 56, 56);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(56, 56, 56) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}








/* MODAL */
.modal {
    display: block; 
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-rank {
    padding: 8px 8px;
    font-size: 16px !important;
    background-color: rgb(0, 133, 138);
}
.btn-rein {
    padding: 8px 8px;
    font-size: 16px !important;
    background-color: rgb(0, 133, 138);
}