<div class="main-page">

    <h1 class="title">Ahorcado</h1>

    <!-- INICIAR PARTIDA -->
    <div class='input-container' *ngIf="!juego">
        <input class="name-input" placeholder="Nombre" [(ngModel)]="nombre" [disabled]="loading" />

        <select class="difficulty-input" [(ngModel)]="dificultad" [disabled]="loading">
            <option value="" disabled selected>Dificultad</option>
            <option value="FACIL">Facil</option>
            <option value="MEDIA">Media</option>
            <option value="DIFICIL">Difícil</option>
        </select>

        <button class="btn-iniciar" 
                [class.btn-disabled]="!nombre || !dificultad" 
                (click)="iniciarPartida()" 
                [disabled]="loading || !nombre || !dificultad"> Iniciar partida </button>
    </div>

    <!-- JUEGO -->
    <div *ngIf="juego">

        <div class="img-container">
            <img [src]="'/assets/img/' + juego.cantActualVidas + '.png'" alt="imagen ahorcado">
            <div class="palabra">{{juego.palabra}}</div>
        </div>

        <div>
            <div *ngFor="let row of teclado">
                <button *ngFor="let tecla of row" 
                        (click)="enviarLetra(tecla)" 
                        [disabled]="tecla.disabled"
                        class="btn-tecla">
                    {{tecla.letra}}
                </button>
            </div>
        </div>

    </div>

    <!-- SPINNER -->
    <div class="lds-ring" *ngIf="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <!-- TABLE -->
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Vidas</th>
            <th scope="col">Dificultad</th>
            <th scope="col">Letras Arriesgadas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
    <p>{{juego | json}}</p>
</div>